
importScripts("https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js");
importScripts("https://www.gstatic.com/firebasejs/7.14.0/firebase-messaging.js");

var firebaseConfig = {};

firebase.initializeApp(firebaseConfig);

const messaging = firebase.messaging();

messaging.setBackgroundMessageHandler(function(payload) {
    console.log('[firebase-messaging-sw.js] Received background message, payload');

    var obj = JSON.parse(payload.data.notification);
    var notificationTitle = obj.title;
    var notificationOptions = {
        body: obj.body,
        icon: obj.icon
    };

    return self.registration.showNotification(notificationTitle, notificationOptions);
});